.html {
  color: @mono-1;

  &.tag {
    color: #b4b4b4;

    &.punctuation {
      color: @mono-3;
    }

    .definition {
      color: @mono-3;
    }

    &.doctype {
      color: @blue;
    }
  }

  .string {
    color: #c8c8c8;

    .punctuation {
      color: #c8c8c8;
    }
  }


}

.source.html {
  .entity {
    &.name.tag.html {
      color: @blue;
    }

    &.other {
      &.attribute-name.html {
        color: @blue-light;
      }
    }
  }
}
